body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.btn{
    height: 70px;
    width: 70px;
    margin: 10px;
    font-size: 40px !important;
}
.numbers{
    border: 1px solid goldenrod !important;
}
.numbers:hover{
    background-color: rgb(28, 139, 72) !important;
}

.equal{
    border: 1px solid red !important;
}
.equal:hover{
    background-color: antiquewhite;
}
.operator{
    border: 1px solid rgb(120, 192, 19) !important;
}
.operator:hover{
    background-color: crimson !important;
}
.clear{
    border: 1px solid blue !important;
}
.clear:hover{
    background-color: aqua !important;
}
.decimal{
    border: 1px solid cyan !important;
}
.decimal:hover{
    background-color: deepskyblue !important;
}
.upperrow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen{
    border: 1px solid greenyellow;
    height: 70px;
    width: 260px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;

}
.currentScreen{
    font-size: 32px;
}
.previousScreen{
    font-size: 20px;
    margin-bottom: 10px;
}